### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk


### Ignore temporary editor files ###
*.m~
*.asv
*._*
*.*~

### Ignore binaries ###
*.mexmaci64
*.mexa64
*.mexw64
*.mexw32
*.dll
*.dylib
*.so

### Ignore generated documentation and LaTeX aux files ###
doc/doxy/html
doc/tex/*.aux
doc/tex/*.fdb_latexmk
doc/tex/*.bbl
doc/tex/*.bcf
doc/tex/*.run.xml
doc/tex/*.out
doc/tex/*.blg
doc/tex/*.lot
doc/tex/*.lof
doc/tex/*.toc
doc/tex/*.log
doc/tex/*.idx
doc/tex/*.ind
doc/tex/*.gitinfo
doc/tex/*.synctex.gz
doc/tex/*.pdf
doc/tex/docs/*.aux
doc/doxyoutput/
doc/api/

### Ignore IDE files ###
.vs/
.idea/
*.iws
*.kdev4
.kdev4/
compile_commands.json

# Ignore build and install directories
build
install
vcpkg_installed
