.DS_Store
*.m~
*.asv
*._*
*.*~
*.mexmaci64
*.mexa64
*.mexw64
*.mexw32
*.dll
*.dylib
*.so
doc/doxy/html
doc/tex/*.aux
doc/tex/*.fdb_latexmk
doc/tex/*.bbl
doc/tex/*.bcf
doc/tex/*.run.xml
doc/tex/*.out
doc/tex/*.blg
doc/tex/*.lot
doc/tex/*.lof
doc/tex/*.toc
doc/tex/*.log
doc/tex/*.idx
doc/tex/*.ind
doc/tex/*.gitinfo
doc/tex/*.synctex.gz
doc/tex/*.pdf
doc/tex/docs/*.aux
